# Add Fun Users Interactions

In [30]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
import sys
sys.path.append('../../src')

from domain_context import DomainContext

import time
import util as ut
import logging
import numpy as np

In [32]:
def create_fun_user_interactions(user_id, item_collection, rating=5):
    item_collection['user_id']           = user_id
    item_collection['item_id']           = item_collection['id'].astype(int)
    item_collection['rating']            = rating
    item_collection['suitable_to_train'] = False
    return item_collection[['user_id', 'item_id', 'rating', 'suitable_to_train']]

In [33]:
def show(df):
    return df[['id', 'name', 'tags', 'popularity']] \
        .sort_values(['popularity'], ascending=False).reset_index(drop=False) \
        .head()

### Setup

In [34]:
ctx = DomainContext(host='http://localhost:8000')

In [35]:
logging.getLogger().setLevel(logging.INFO)

In [36]:
show(ctx.item_service.find_by(query={'tags': ['adventure', '-romance', '-adult', 'fantasy', '-horror']}))

2023-01-13 19:39:53,463 :: INFO :: ItemRepository :: Page 2/1 - Items 22/22
2023-01-13 19:39:53,463 :: INFO :: ItemRepository :: 22 Total Items

,index,id,name,tags,popularity
0,15,215479,Hobbit and Lord of the Rings Trilogy - Boxed S...,"[Adventure, Young Adult, Fiction, Classics, Fa...",1.000000
1,18,217937,Fellowship of the Ring (Lord of the Rings Part 1),"[Lord of the rings, J.R.R. Tolkien’s, Adventur...",0.988183
2,14,215082,The Lord of The Rings Trilogy,"[Adventure, Fiction, Classics, Fantasy, High F...",0.986706
3,20,214452,The Hobbit,"[Adventure, Young Adult, Fiction, Classics, Fa...",0.986706
4,1,499,The Hobbit,"[Lord of the rings, J.R.R. Tolkien’s, Adventur...",0.986706

### Get available user ids

In [37]:
real_users = ctx.user_repository.find()
real_users

2023-01-13 19:39:56,376 :: INFO :: UserRepository :: Page 2/1 - Users 3/3
2023-01-13 19:39:56,376 :: INFO :: UserRepository :: 3 Total Users

[
    {
    "id": 1,
    "username": "adrian",
    "email": "adrianmarino@gmail.com"
},
    {
    "id": 5000,
    "username": "adrian.marino",
    "email": "adrian.marino@pedidosya.com"
},
    {
    "id": 5001,
    "username": "Lionel5000",
    "email": "leonardogrosso@gmail.com"
}
]

In [38]:
real_user_ids = set([u.id for u in real_users])
real_user_ids

{5000, 1, 5001}

In [39]:
interactions = ctx.interaction_service.find_all()
user_ids = set(interactions['user_id'].unique())

2023-01-13 19:40:03,520 :: INFO :: InteractionRepository :: Page 1/2 - Interactions 50000/55362
2023-01-13 19:40:03,845 :: INFO :: InteractionRepository :: Page 2/2 - Interactions 55362/55362
2023-01-13 19:40:03,845 :: INFO :: InteractionRepository :: 55362 Total Interactions

In [40]:
interactions[interactions['user_id'] == 5000].shape

(0, 3)

In [41]:
available_ids = list(user_ids - real_user_ids)
max(available_ids)

1617

### Create fun users

#### Romantic fun user

In [42]:
item_collection = ctx.item_service.find_by(query={'tags': ['romance', 'erotica']})
show(item_collection)

2023-01-13 19:40:14,493 :: INFO :: ItemRepository :: Page 2/1 - Items 226/226
2023-01-13 19:40:14,493 :: INFO :: ItemRepository :: 226 Total Items

,index,id,name,tags,popularity
0,51,141031,Wild Man (Dream Man),"[Romance, Adult, Contemporary, Suspense, Roman...",0.627769
1,47,140465,Fire Inside: A Chaos Novel,"[Romance, Adult, Contemporary, Chick Lit, Roma...",0.485967
2,7,55293,Bared to You / Reflected in You / Entwined wit...,"[Romance, Adult, Contemporary Romance, Erotica...",0.382570
3,219,125159,Dirty: A Dive Bar Novel,"[Romance, Humor, Audiobook, Adult, Contemporar...",0.351551
4,220,117784,Driven (The Driven Trilogy),"[Romance, Contemporary, Adult Fiction, Contemp...",0.350074

In [43]:
fun_user_id     = max(available_ids) + 1
fun_user_rating = 5
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    item_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1618,10446,5,False
1,1618,23134,5,False
2,1618,39001,5,False
3,1618,39012,5,False
4,1618,49571,5,False

In [44]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:40:29,352 :: INFO :: DataFramePaginationIterator :: Page 1/23 - Items 10/226
2023-01-13 19:40:29,509 :: INFO :: DataFramePaginationIterator :: Page 2/23 - Items 20/226
2023-01-13 19:40:29,695 :: INFO :: DataFramePaginationIterator :: Page 3/23 - Items 30/226
2023-01-13 19:40:29,841 :: INFO :: DataFramePaginationIterator :: Page 4/23 - Items 40/226
2023-01-13 19:40:29,995 :: INFO :: DataFramePaginationIterator :: Page 5/23 - Items 50/226
2023-01-13 19:40:30,248 :: INFO :: DataFramePaginationIterator :: Page 6/23 - Items 60/226
2023-01-13 19:40:30,351 :: INFO :: DataFramePaginationIterator :: Page 7/23 - Items 70/226
2023-01-13 19:40:30,491 :: INFO :: DataFramePaginationIterator :: Page 8/23 - Items 80/226
2023-01-13 19:40:30,598 :: INFO :: DataFramePaginationIterator :: Page 9/23 - Items 90/226
2023-01-13 19:40:30,675 :: INFO :: DataFramePaginationIterator :: Page 10/23 - Items 100/226
2023-01-13 19:40:30,791 :: INFO :: DataFramePaginationIterator :: Page 11/23 - Items 110/226
2023-01-13 19:40:30,898 :: INFO :: DataFramePaginationIterator :: Page 12/23 - Items 120/226
2023-01-13 19:40:31,035 :: INFO :: DataFramePaginationIterator :: Page 13/23 - Items 130/226
2023-01-13 19:40:31,191 :: INFO :: DataFramePaginationIterator :: Page 14/23 - Items 140/226
2023-01-13 19:40:31,365 :: INFO :: DataFramePaginationIterator :: Page 15/23 - Items 150/226
2023-01-13 19:40:31,471 :: INFO :: DataFramePaginationIterator :: Page 16/23 - Items 160/226
2023-01-13 19:40:31,945 :: INFO :: DataFramePaginationIterator :: Page 17/23 - Items 170/226
2023-01-13 19:40:32,448 :: INFO :: DataFramePaginationIterator :: Page 18/23 - Items 180/226
2023-01-13 19:40:32,525 :: INFO :: DataFramePaginationIterator :: Page 19/23 - Items 190/226
2023-01-13 19:40:32,631 :: INFO :: DataFramePaginationIterator :: Page 20/23 - Items 200/226
2023-01-13 19:40:32,908 :: INFO :: DataFramePaginationIterator :: Page 21/23 - Items 210/226
2023-01-13 19:40:33,278 :: INFO :: DataFramePaginationIterator :: Page 22/23 - Items 220/226
2023-01-13 19:40:33,371 :: INFO :: DataFramePaginationIterator :: Page 23/23 - Items 226/226
2023-01-13 19:40:33,438 :: INFO :: DataFramePaginationIterator :: Totals - Pages 23 - Items 226

In [45]:
interactions = ctx.interaction_service.find_all()
interactions.head()

2023-01-13 19:40:44,745 :: INFO :: InteractionRepository :: Page 1/2 - Interactions 50000/55588
2023-01-13 19:40:45,819 :: INFO :: InteractionRepository :: Page 2/2 - Interactions 55588/55588
2023-01-13 19:40:45,820 :: INFO :: InteractionRepository :: 55588 Total Interactions

,user_id,item_id,rating
0,98,35,2.0
1,90,35,5.0
2,99,35,4.0
3,99,35,4.0
4,100,35,5.0

In [46]:
interactions[interactions['user_id'] == fun_user_id]

,user_id,item_id,rating
55362,1618,10446,5.0
55363,1618,23134,5.0
55364,1618,39001,5.0
55365,1618,39012,5.0
55366,1618,49571,5.0
...,...,...,...
55583,1618,144873,5.0
55584,1618,125369,5.0
55585,1618,169815,5.0
55586,1618,216729,5.0
55587,1618,161823,5.0

In [47]:
fun_user_id     = fun_user_id + 1
fun_user_rating = 4
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    item_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1619,10446,4,False
1,1619,23134,4,False
2,1619,39001,4,False
3,1619,39012,4,False
4,1619,49571,4,False

In [48]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:40:55,351 :: INFO :: DataFramePaginationIterator :: Page 1/23 - Items 10/226
2023-01-13 19:40:55,430 :: INFO :: DataFramePaginationIterator :: Page 2/23 - Items 20/226
2023-01-13 19:40:55,548 :: INFO :: DataFramePaginationIterator :: Page 3/23 - Items 30/226
2023-01-13 19:40:55,658 :: INFO :: DataFramePaginationIterator :: Page 4/23 - Items 40/226
2023-01-13 19:40:55,774 :: INFO :: DataFramePaginationIterator :: Page 5/23 - Items 50/226
2023-01-13 19:40:55,908 :: INFO :: DataFramePaginationIterator :: Page 6/23 - Items 60/226
2023-01-13 19:40:56,044 :: INFO :: DataFramePaginationIterator :: Page 7/23 - Items 70/226
2023-01-13 19:40:56,191 :: INFO :: DataFramePaginationIterator :: Page 8/23 - Items 80/226
2023-01-13 19:40:56,324 :: INFO :: DataFramePaginationIterator :: Page 9/23 - Items 90/226
2023-01-13 19:40:56,454 :: INFO :: DataFramePaginationIterator :: Page 10/23 - Items 100/226
2023-01-13 19:40:56,564 :: INFO :: DataFramePaginationIterator :: Page 11/23 - Items 110/226
2023-01-13 19:40:56,708 :: INFO :: DataFramePaginationIterator :: Page 12/23 - Items 120/226
2023-01-13 19:40:56,871 :: INFO :: DataFramePaginationIterator :: Page 13/23 - Items 130/226
2023-01-13 19:40:57,004 :: INFO :: DataFramePaginationIterator :: Page 14/23 - Items 140/226
2023-01-13 19:40:57,111 :: INFO :: DataFramePaginationIterator :: Page 15/23 - Items 150/226
2023-01-13 19:40:57,241 :: INFO :: DataFramePaginationIterator :: Page 16/23 - Items 160/226
2023-01-13 19:40:57,361 :: INFO :: DataFramePaginationIterator :: Page 17/23 - Items 170/226
2023-01-13 19:40:57,484 :: INFO :: DataFramePaginationIterator :: Page 18/23 - Items 180/226
2023-01-13 19:40:57,628 :: INFO :: DataFramePaginationIterator :: Page 19/23 - Items 190/226
2023-01-13 19:40:58,235 :: INFO :: DataFramePaginationIterator :: Page 20/23 - Items 200/226
2023-01-13 19:40:58,358 :: INFO :: DataFramePaginationIterator :: Page 21/23 - Items 210/226
2023-01-13 19:40:58,625 :: INFO :: DataFramePaginationIterator :: Page 22/23 - Items 220/226
2023-01-13 19:40:58,881 :: INFO :: DataFramePaginationIterator :: Page 23/23 - Items 226/226
2023-01-13 19:40:58,978 :: INFO :: DataFramePaginationIterator :: Totals - Pages 23 - Items 226

#### Suspense/Thriller fun user

In [49]:
suspense_collection = ctx.item_service.find_by(query={'tags': ['suspense', '-romance', '-erotica', 'thriller', 'mystery', '-horror']})
show(suspense_collection)

2023-01-13 19:41:01,114 :: INFO :: ItemRepository :: Page 2/1 - Items 44/44
2023-01-13 19:41:01,114 :: INFO :: ItemRepository :: 44 Total Items

,index,id,name,tags,popularity
0,10,23427,Gone Girl,"[Fiction, Contemporary, Thriller, Mystery, Sus...",0.630953
1,29,48509,The Girl on the Train,"[Fiction, Contemporary, Thriller, Mystery, Sus...",0.583333
2,7,19342,The Girl with the Dragon Tattoo,"[Fiction, Contemporary, Thriller, Mystery, Sus...",0.529762
3,11,24681,The Da Vinci Code (Robert Langdon),"[Adventure, Fiction, Historical Fiction, Thril...",0.354167
4,19,32558,The Last Coyote (Harry Bosch),"[Fiction, Thriller, Mystery, Suspense, Mystery...",0.248512

In [50]:
fun_user_id     = fun_user_id + 1
fun_user_rating = 5
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    suspense_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1620,744,5,False
1,1620,1173,5,False
2,1620,1571,5,False
3,1620,4269,5,False
4,1620,8858,5,False

In [51]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:41:08,880 :: INFO :: DataFramePaginationIterator :: Page 1/5 - Items 10/44
2023-01-13 19:41:08,940 :: INFO :: DataFramePaginationIterator :: Page 2/5 - Items 20/44
2023-01-13 19:41:09,028 :: INFO :: DataFramePaginationIterator :: Page 3/5 - Items 30/44
2023-01-13 19:41:09,141 :: INFO :: DataFramePaginationIterator :: Page 4/5 - Items 40/44
2023-01-13 19:41:09,264 :: INFO :: DataFramePaginationIterator :: Page 5/5 - Items 44/44
2023-01-13 19:41:09,334 :: INFO :: DataFramePaginationIterator :: Totals - Pages 5 - Items 44

In [52]:
fun_user_id     = fun_user_id + 1
fun_user_rating = 4
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    suspense_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1621,744,4,False
1,1621,1173,4,False
2,1621,1571,4,False
3,1621,4269,4,False
4,1621,8858,4,False

In [53]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:41:10,891 :: INFO :: DataFramePaginationIterator :: Page 1/5 - Items 10/44
2023-01-13 19:41:10,980 :: INFO :: DataFramePaginationIterator :: Page 2/5 - Items 20/44
2023-01-13 19:41:11,071 :: INFO :: DataFramePaginationIterator :: Page 3/5 - Items 30/44
2023-01-13 19:41:11,168 :: INFO :: DataFramePaginationIterator :: Page 4/5 - Items 40/44
2023-01-13 19:41:11,268 :: INFO :: DataFramePaginationIterator :: Page 5/5 - Items 44/44
2023-01-13 19:41:11,381 :: INFO :: DataFramePaginationIterator :: Totals - Pages 5 - Items 44

#### Science Fiction fun user

In [54]:
science_fiction_collection = ctx.item_service.find_by(query={'tags': ['science fiction', '-romance', '-erotica', '-horror']})

show(science_fiction_collection)

2023-01-13 19:41:13,675 :: INFO :: ItemRepository :: Page 2/1 - Items 29/29
2023-01-13 19:41:13,675 :: INFO :: ItemRepository :: 29 Total Items

,index,id,name,tags,popularity
0,25,214452,The Hobbit,"[Adventure, Young Adult, Fiction, Classics, Fa...",0.986607
1,18,71022,The Martian,"[Andy Weir, Adventure, Fiction, Science Fictio...",0.653274
2,26,215298,Brave New World,"[Fiction, Classics, Fantasy, School, Literatur...",0.440476
3,11,23459,The Illustrated Hitch-hiker's Guide to the Galaxy,"[Fiction, Classics, Fantasy, Science Fiction, ...",0.358631
4,21,215346,Dune,"[Fiction, Classics, Fantasy, Science Fiction, ...",0.309524

In [55]:
fun_user_id     = fun_user_id + 1
fun_user_rating = 4
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    science_fiction_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1622,436,4,False
1,1622,1141,4,False
2,1622,744,4,False
3,1622,757,4,False
4,1622,1626,4,False

In [56]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:41:14,706 :: INFO :: DataFramePaginationIterator :: Page 1/3 - Items 10/29
2023-01-13 19:41:15,229 :: INFO :: DataFramePaginationIterator :: Page 2/3 - Items 20/29
2023-01-13 19:41:15,328 :: INFO :: DataFramePaginationIterator :: Page 3/3 - Items 29/29
2023-01-13 19:41:15,638 :: INFO :: DataFramePaginationIterator :: Totals - Pages 3 - Items 29

In [57]:
fun_user_id     = fun_user_id + 1
fun_user_rating = 5
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    science_fiction_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1623,436,5,False
1,1623,1141,5,False
2,1623,744,5,False
3,1623,757,5,False
4,1623,1626,5,False

In [58]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:41:17,371 :: INFO :: DataFramePaginationIterator :: Page 1/3 - Items 10/29
2023-01-13 19:41:17,444 :: INFO :: DataFramePaginationIterator :: Page 2/3 - Items 20/29
2023-01-13 19:41:17,561 :: INFO :: DataFramePaginationIterator :: Page 3/3 - Items 29/29
2023-01-13 19:41:17,684 :: INFO :: DataFramePaginationIterator :: Totals - Pages 3 - Items 29

#### Fantasy & Adventure fun user

In [59]:
fantasy_adventure_collection = ctx.item_service.find_by(query={'tags': ['fantasy', 'adventure', '-romance', '-erotica']})

show(fantasy_adventure_collection)

2023-01-13 19:41:17,983 :: INFO :: ItemRepository :: Page 2/1 - Items 27/27
2023-01-13 19:41:17,984 :: INFO :: ItemRepository :: 27 Total Items

,index,id,name,tags,popularity
0,19,215479,Hobbit and Lord of the Rings Trilogy - Boxed S...,"[Adventure, Young Adult, Fiction, Classics, Fa...",1.000000
1,22,217937,Fellowship of the Ring (Lord of the Rings Part 1),"[Lord of the rings, J.R.R. Tolkien’s, Adventur...",0.995536
2,1,499,The Hobbit,"[Lord of the rings, J.R.R. Tolkien’s, Adventur...",0.986607
3,24,214452,The Hobbit,"[Adventure, Young Adult, Fiction, Classics, Fa...",0.986607
4,18,215082,The Lord of The Rings Trilogy,"[Adventure, Fiction, Classics, Fantasy, High F...",0.986607

In [60]:
fun_user_id     = fun_user_id + 1
fun_user_rating = 5
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    fantasy_adventure_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1624,35,5,False
1,1624,499,5,False
2,1624,2105,5,False
3,1624,14030,5,False
4,1624,17869,5,False

In [61]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:41:20,220 :: INFO :: DataFramePaginationIterator :: Page 1/3 - Items 10/27
2023-01-13 19:41:20,296 :: INFO :: DataFramePaginationIterator :: Page 2/3 - Items 20/27
2023-01-13 19:41:20,421 :: INFO :: DataFramePaginationIterator :: Page 3/3 - Items 27/27
2023-01-13 19:41:20,538 :: INFO :: DataFramePaginationIterator :: Totals - Pages 3 - Items 27

In [62]:
fun_user_id     = fun_user_id + 1
fun_user_rating = 4
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    fantasy_adventure_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1625,35,4,False
1,1625,499,4,False
2,1625,2105,4,False
3,1625,14030,4,False
4,1625,17869,4,False

In [63]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:41:20,789 :: INFO :: DataFramePaginationIterator :: Page 1/3 - Items 10/27
2023-01-13 19:41:20,853 :: INFO :: DataFramePaginationIterator :: Page 2/3 - Items 20/27
2023-01-13 19:41:20,974 :: INFO :: DataFramePaginationIterator :: Page 3/3 - Items 27/27
2023-01-13 19:41:21,061 :: INFO :: DataFramePaginationIterator :: Totals - Pages 3 - Items 27

#### Adventure fun user

In [64]:
adventure_collection = ctx.item_service.find_by(query={'tags': ['adventure', '-romance', '-erotica']})

show(adventure_collection)

2023-01-13 19:41:21,420 :: INFO :: ItemRepository :: Page 2/1 - Items 44/44
2023-01-13 19:41:21,421 :: INFO :: ItemRepository :: 44 Total Items

,index,id,name,tags,popularity
0,33,215479,Hobbit and Lord of the Rings Trilogy - Boxed S...,"[Adventure, Young Adult, Fiction, Classics, Fa...",1.000000
1,37,217937,Fellowship of the Ring (Lord of the Rings Part 1),"[Lord of the rings, J.R.R. Tolkien’s, Adventur...",0.995536
2,39,214452,The Hobbit,"[Adventure, Young Adult, Fiction, Classics, Fa...",0.986607
3,32,215082,The Lord of The Rings Trilogy,"[Adventure, Fiction, Classics, Fantasy, High F...",0.986607
4,1,499,The Hobbit,"[Lord of the rings, J.R.R. Tolkien’s, Adventur...",0.986607

In [65]:
fun_user_id     = fun_user_id + 1
fun_user_rating = 5
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    adventure_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1626,35,5,False
1,1626,499,5,False
2,1626,744,5,False
3,1626,1533,5,False
4,1626,1911,5,False

In [66]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:41:21,721 :: INFO :: DataFramePaginationIterator :: Page 1/5 - Items 10/44
2023-01-13 19:41:21,792 :: INFO :: DataFramePaginationIterator :: Page 2/5 - Items 20/44
2023-01-13 19:41:21,894 :: INFO :: DataFramePaginationIterator :: Page 3/5 - Items 30/44
2023-01-13 19:41:22,014 :: INFO :: DataFramePaginationIterator :: Page 4/5 - Items 40/44
2023-01-13 19:41:22,131 :: INFO :: DataFramePaginationIterator :: Page 5/5 - Items 44/44
2023-01-13 19:41:22,228 :: INFO :: DataFramePaginationIterator :: Totals - Pages 5 - Items 44

In [67]:
fun_user_id     = fun_user_id + 1
fun_user_rating = 4
    
fun_user_interactions = create_fun_user_interactions(
    fun_user_id, 
    adventure_collection, 
    fun_user_rating
)

fun_user_interactions.head()

,user_id,item_id,rating,suitable_to_train
0,1627,35,4,False
1,1627,499,4,False
2,1627,744,4,False
3,1627,1533,4,False
4,1627,1911,4,False

In [68]:
ctx.interaction_service.add_many(fun_user_interactions)

2023-01-13 19:41:24,362 :: INFO :: DataFramePaginationIterator :: Page 1/5 - Items 10/44
2023-01-13 19:41:24,542 :: INFO :: DataFramePaginationIterator :: Page 2/5 - Items 20/44
2023-01-13 19:41:24,648 :: INFO :: DataFramePaginationIterator :: Page 3/5 - Items 30/44
2023-01-13 19:41:24,741 :: INFO :: DataFramePaginationIterator :: Page 4/5 - Items 40/44
2023-01-13 19:41:24,928 :: INFO :: DataFramePaginationIterator :: Page 5/5 - Items 44/44
2023-01-13 19:41:25,038 :: INFO :: DataFramePaginationIterator :: Totals - Pages 5 - Items 44