In [1]:
import pandas as pd


df = pd.DataFrame({'time': ['2022-01-01 01:14:00', '2022-01-01 01:24:15',
                            '2022-01-01 02:52:19', '2022-01-01 02:54:00',
                            '2022-01-01 04:05:10', '2022-01-01 05:35:09'],
                   'sales': [18, 20, 15, 14, 10, 9]})

In [7]:
df['time'] = pd.to_datetime(df['time'])
df.groupby([df['time'].dt.hour]).mean().reset_index(names='time')

/var/tmp/ipykernel_564895/1610750562.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby([df['time'].dt.hour]).mean().reset_index(names='time')

,time,sales
0,1,19.0
1,2,14.5
2,4,10.0
3,5,9.0